NEXT_PUBLIC_APP_NAME=Infodra WorkHub
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_AZURE_CLIENT_ID=your-frontend-client-id
NEXT_PUBLIC_AZURE_TENANT_ID=your-tenant-id
NEXT_PUBLIC_AZURE_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_AZURE_API_SCOPE=api://your-backend-app-client-id/access_as_user
NEXT_PUBLIC_MANAGER_OVERRIDE_EMAILS=
